.block {
  padding: 13px;
  margin-bottom: 20px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  border: #d6d6d6 solid 1px;
  background-color: #fbfafa;
  border-radius: 10px;
}

.block_name {
  font-size: 17px;
  font-weight: 600;
  padding-bottom: 12px;
}

.block_section {
  padding: 5px 0px 15px 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-bottom: solid 1px #d6d6d6;
}

.avatar_update_input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.save_button {
  align-self: flex-end;
  padding: 10px 20px;
  margin: 15px 0px 5px 0px;
  width: 200px;
  background-color: rgb(0, 123, 255); 
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-weight: 500;
}

.save_button:hover {
  background-color: rgb(0, 100, 255);
}

.linksContainer {
  padding-top: 15px;
  margin-top: 10px;
  display: flex;
  border-top: solid 1px #d6d6d6;
  flex-direction: column;
  position: relative; 
  overflow: hidden;
}

.link {
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: auto;
}

.linkItem {
  padding: 10px;
  margin: 5px 0;
  background-color: #eeeded;
  border-radius: 10px;
  display: flex;
  align-items: center;
  transition: background-color 0.2s;
  z-index: 1;
  position: relative;
}

.linkItem.hidden {
  visibility: hidden;
}

.target {
  cursor: move;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  padding-right: 10px;
  border-right: solid 1px #d6d6d6;
}

.targetIcon {
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.linkInfo {
  align-items: center;
  display: flex;
  gap: 10px;
  padding: 5px;
  width: 800px;
}

.linkName {
  font-weight: bold;
  font-size: 24px;
  color: #007bff;
  text-decoration: none;
  cursor: pointer;
}

.linkName:hover {
  text-decoration: underline;
}

.linkDescription {
  font-size: 20px;
  color: #555;
}

.linkUrl {
  color: #007bff;
  text-decoration: none;
}

.linkUrl:hover {
  text-decoration: underline;
}

.block_section_description {
  color: #433f3f;
  font-size: 14px;
  font-weight: 400;
}

.no_links {
  width: 100%;
}

.edit_button {
  pointer-events: auto;
  width: 35px;
  height: 35px;
  padding: 10px;
  border-radius: 50%;
  background-color: #e6e6e6;
}

.edit_button:hover {
  background-color: #d6d6d6;
}

.edit {
  width: 100%;
  display: flex;
}

.linkActions {
  display: flex;
  justify-self: self-end;
  gap: 20px;
  padding: 0px 20px;
}

.editButtons {
  position: relative;
  display: flex;
  gap: 20px;
  padding: 0px 20px;
}

.cancelButton {
  pointer-events: auto;
  width: 110px;
  border-radius: 15px;
  padding: 10px 20px;
  background-color: #e5e5e5;
}

.cancelButton:hover {
  background-color: #d6d6d6;
}

.saveButton {
  pointer-events: auto;
  width: 110px;
  border-radius: 15px;
  padding: 10px 20px;
  color: white;
  background-color: rgb(0, 123, 255);
}

.saveButton:hover {
  background-color: rgb(0, 100, 255);
}

.saveButtonDisabled {
  opacity: 0.5;
}

.editContainer {
  pointer-events: auto;
  display: flex;
  flex-direction: column;
}

.editInput {
  pointer-events: auto;
  height: 7px;
  width: 300px;
}



.spinner {
  width: 24px;
  height: 24px;
  border: 4px solid #ccc;
  border-top: 4px solid #007bff; 
  border-radius: 50%;
  animation: spin 1s linear infinite;
  display: inline-block;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
