.container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.button_catalogue {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 46px;
    padding: 15px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 15px;
    font-size: 17px;
}

.button_catalogue:hover {
    background-color: rgb(0, 100, 254);
}

.icon {
    width: 17px;
    height: 17px;
}