.modal_content {
  padding-left: 10px;
  position: absolute;
  display: flex;
  justify-content: center;
  top: 135px;
  width: 99.3%;
  height: 530px;
  max-width: 100%;
  background-color: white;
  z-index: 1;
  overflow: auto;
  background-color: whitesmoke;
}
