.modal_overlay {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80%;

  z-index: 0;
}

.modal_content {
  padding-left: 10px;
  position: absolute;
  display: flex;
  justify-content: center;
  top: 135px;
  width: 90%;
  height: 530px;
  background-color: rgb(255, 252, 252);
  z-index: 1;
  border-radius: 0 0 10px 10px;

  border: solid;
  border-top-color: white;
  border-bottom-color: rgb(216, 224, 228);
  border-left-color: rgb(216, 224, 228);
  border-right-color: rgb(216, 224, 228);
  border-width: 1px;
}
