.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  width: 900px;
  height: 160px;
  gap: 20px;
  cursor: pointer;
  text-decoration: none;
}

.container:hover {
  background-color: rgba(78, 87, 218, 0.1);
}

.actions {
  display: none;
}

.container:hover .actions {
  display: block;
}