.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.button_catalogue {
    padding: 10px 20px;
    background-color: #0af;
    color: white;
    border-radius: 15px;
}