.image_block {
    width: 220px;
    height: 220px;
    display: flex;
    justify-content: center;
}
  
.image_block img {
    max-width: 100%;
    border-radius: 8px;
    width: 220px;
    height: 220px;
    object-fit: cover; 
    object-position: center; 
}

.thumbnails {
    width: 205px;
    height: 215px;
    position: absolute;
    justify-content: center;
    align-items: end;
    display: flex;
    gap: 2px;
}
  
.thumbnail {
    border-radius: 4px;
    width: 30px;
    height: 3px;
    background-color: #777;
    transition: opacity 0.3s;
}
  
.thumbnail.active {
    background-color: #0af;
}
  
.overlay {
    position: absolute;
    width: 220px;
    height: 220px;
    background-color: #555;
    opacity: 0.4;
}

.last_photo_text {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 220px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: 500;
}

.placeholder {
    position: absolute;
    width: 220px;
    height: 220px;
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #888;
}
  
.error {
    position: absolute;
    width: 220px;
    height: 220px;
    background-color: #f8d7da;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #721c24;
}